 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We are a character rigging studio that helps you with your rigging needs whenever you need them.</p>
                </div>
                <div class="col-lg-4">
                    <p>Whether you're a big studio looking to add few riggers on your project or a small studio needing to establish a rigging pipeline for the first time, we are here to help.</p>
                </div>
            </div>
        </div>
    </section>
